name: build

on: 
  push:
    branches:
    - master
    paths:
    - database/*

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.402
    - name: Install tools
      shell: pwsh
      run: ./tools/EhDbReleaseBuilder/Download-Tool.ps1
      env:
        GitHub:Token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: dotnet ./tools/EhDbReleaseBuilder/EhDbReleaseBuilder.dll -- --source . --target ./publish
    - name: Set messages
      run: |
        echo "::set-env name=RELEASE_NAME::$(
        head -n1 <<EOF
        ${{github.event.head_commit.message}}
        EOF
        )"
    - name: Upload release
      uses: ncipollo/release-action@v1
      with:
        artifacts: ./publish/*
        body: |
          ${{github.event.before}}...${{github.event.after}}
          
          ${{github.event.head_commit.message}}
        token: ${{ secrets.GITHUB_TOKEN }}
        commit: ${{ github.sha }}
        tag: ${{ format('v-{0}', github.sha) }}
        name: ${{ env.RELEASE_NAME }}
 
