name: check_tags

on:
  workflow_dispatch:
    inputs:
      namespaces:
        description: 要检查的命名空间，使用“,”分隔
        type: string
        required: false
  schedule:
    - cron: 30 7 * * 5

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 50
      - name: Download tool
        run: ./scripts/init.sh

      - name: Build
        env:
          EH_COOKIE: ${{ secrets.EH_COOKIE }}
        run: node --enable-source-maps tool create-release . ./publish --strict --source-check ${{ inputs.namespaces }} --coverage
